{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Enquiries plugin for Craft CMS 3.x
 *
 * Enquiries index.twig
 *
 * @author    @cole007
 * @copyright Copyright (c) 2018 @cole007
 * @link      http://ournameismud.co.uk/
 * @package   Enquiries
 * @since     1.0.0
 */
#}

{% extends 'enquiries/layout/_cp' %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("ournameismud\\enquiries\\assetbundles\\enquiries\\EnquiriesAsset") %}
{% do view.registerAssetBundle("ournameismud\\enquiries\\assetbundles\\submissionscpsection\\SubmissionsCPSectionAsset") %}

{% set docsUrl = "https://github.com/ournameismud/enquiries/blob/master/README.md" %}

{% set title = "Enquiries | Submissions" %}

{% set pluginCpUrl = url('enquiries') %}

{% set selectedTab = 'submissions' %}

{% set crumbs = [
    { label: "Enquiries", url: url(pluginCpUrl) },
    { label: "Submissions"|t('enquiries'), url: url(pluginCpUrl ~ '/submissions') },
] %}

{% set content %}
    {% set form = craft.request.getParam( 'form' ) %}
    {% if form %}
        {% set submissions = craft.enquiries.getSubmissionsByForm( form ) %}
    {% else %}
        {% set submissions = craft.enquiries.getSubmissions %}
    {% endif %}
    <div class="tableview">
        <table class="data fullwidth">
            <thead>
                <tr>
                    <th>Submission ID</th>
                    <th>Data</th>
                    <th>Form</th>
                    <th>Added</th>
                </tr>
            </thead>
            <tbody>
        {% for submission in submissions %}
            {% set form = craft.enquiries.form( submission.form ) %}
            {% set label = [] %}
            {% for formLabel in form.formLabel|json_decode %}
            {% set message = submission.message|json_decode(true) %}
                {% set label = label|merge(message|slice(formLabel,1)) %}
                {# {{ dump(message|slice(formLabel)) }} #}
                {# {% set label = label ~ ' ' ~ submission|slice(formLabel) %} #}
            {% endfor %}
            <tr>
                <td><a href="{{ url(pluginCpUrl ~ '/submissions/' ~ submission.id ) }}">{{ submission.id }}</a></td>
                <td><a href="{{ url(pluginCpUrl ~ '/submissions/' ~ submission.id ) }}">{{ label|implode }}</a></td>
                <td><a href="{{ url(pluginCpUrl ~ '/form/' ~ form.id ) }}">{{ form.formName }}</a></td>
                <td>{{ submission.dateUpdated|date('j M Y') }}</td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
{% endset %}
