{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Enquiries plugin for Craft CMS 3.x
 *
 * Enquiries index.twig
 *
 * @author    @cole007
 * @copyright Copyright (c) 2018 @cole007
 * @link      http://ournameismud.co.uk/
 * @package   Enquiries
 * @since     1.0.0
 */
#}

{% extends 'enquiries/layout/_cp' %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("ournameismud\\enquiries\\assetbundles\\enquiries\\EnquiriesAsset") %}
{% do view.registerAssetBundle("ournameismud\\enquiries\\assetbundles\\notificationscpsection\\NotificationsCPSectionAsset") %}

{% set docsUrl = "https://github.com/ournameismud/enquiries/blob/master/README.md" %}

{% set title = "Enquiries > Notifications" %}

{% set pluginCpUrl = url('enquiries') %}

{% set crumbs = [
    { label: "Enquiries", url: url(pluginCpUrl) },
] %}

{% set selectedTab = 'notifications' %}

{% block actionButton %}
    <div class="buttons">
        <a href="{{ pluginCpUrl ~ '/notifications/new' }}" class="btn submit add icon">{{ "Add Notification"|t('enquiries') }}</a>
    </div>
{% endblock %}

{% set content %}

    {% set notifications = craft.enquiries.getNotifications %}
    <div class="tableview">
        <table class="data fullwidth">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Last Updated</th>
                </tr>
            </thead>
            <tbody>
        {% for notification in notifications %}
            <tr>
                <td>{{ notification.id }}</td>
                <td><a href="{{ url(pluginCpUrl ~ '/notifications/' ~ notification.id ) }}">{{ notification.subject }}</a></td>
                <td>{{ notification.dateUpdated|date('j M Y') }}</td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
{% endset %}
